.row > div{
    background-color: #fff !important;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    
}
.container-fluid{
    background-color: #f1f1f1 !important;
    min-height: 1000px;
}

.progress-label{
    float: left;
    margin-right: 1em;
}

.row{
    margin-top: 80px;
}

h1 {
    text-align: center;
}